@model DB_LAB2.Database.Entities.Mark

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mark</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mark_)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mark_)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Model.Date.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            Subject Id
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Subject.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subject.Title)
        </dd>
        <dt class="col-sm-2">
            Student Id
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
        <dt class="col-sm-2">
            Group Code
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.Group_.Code)
        </dd>
        <dt class="col-sm-2">
            Teacher Id
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teacher.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
